{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.6"]
                [nrepl "1.0.0"]
                [reagent "1.1.1"]
                [kee-frame "1.2.0"]
                [re-frame "1.4.3"]
                [lambdaisland/fetch "1.5.83"]
                [funcool/promesa "11.0.678"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [tmw.core]}}
                      :devtools   {:after-load tmw.core/mount-root}}}

 :dev-http     {3000 {:root "public"}}}
